/* styles.css */

/* Default to light mode */

$font-primary: "Gotham";
// :root {
//   --light-fade-bg: #0a4b3c;
// }

/* Default to light mode */
$global-map: (
  light-fade-bg: #0a4b3c,
  app-primary: #013a2d,
  app-primary2: #013a2d,
  app-muted: #407b6d,
  hash:#828282,
  white: #fff,
  black: #0000,
  white2: #fff,
  app-hash: #f1f2f5,
  hash2: #dee2e6,
  red1 : #e31a1a,
  red10 : #fff5f5,
);

$dark-map: (
  app-primary: #19191c,
  app-primary2: #fff,
  app-muted: #6e829f,
  white: #19191c,
  white2: #ffff,
  black: #fff,
  app-hash: #2d2d30,
  hash2: #161b2e,
  red1 : #e31a1a,
  red10 : #fff5f5,
  hash:#fff5f5,

);
