<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="All">

        <div class="row mt-3">
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex order-items">
                            <img class="card-img-top me-3" src="../../../../assets/images/food-services/biriyani.jpeg" alt="Card image cap">
                           <div class="">
                            <h5 class="card-title">Thalassey Biriyani</h5>
                            <h6 class="card-title">$344.2</h6>
                           </div>
                        </div>
                      <p class="card-text">The traditional process of Chicken Biryani starts by marinating meat in yogurt...</p>
                     
                      <div class="d-flex">
                        <!-- <input type="text" placeholder="Table Number" class="form-control me-2"> -->
                          <a href="#" class="btn btn-primary">Cart</a>
                        </div>
                      
                    </div>
                  </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Burgers">Content 2</mat-tab>
    <mat-tab label="Juices">Content 3</mat-tab>
    <mat-tab label="Snacks">Content 4</mat-tab>
    <mat-tab label="Pizaa">Content 5</mat-tab>
    <mat-tab label="Cake">Content 6</mat-tab>
  </mat-tab-group>