<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card-wrap p-3 d-flex flex-column align-items-center">
          <div class="profile-bg">
            <img src="profile-img" alt="profile-img">
          </div>
          <h3>Adela Parkson</h3>
          <div class="d-flex align-items-center" >
            <p>Account type </p>
            <select name="" class="ps-2">
              <option selected value="Member">Member</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        </div>
  
        <div class="card-wrap p-3 mt-4">
          <h3>Account Settings</h3>
          <p>Here you can change user account information</p>
  
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <div class="input-form">
                <h6>Username</h6>
                <input type="text" class="form-control" placeholder="@username.name">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <div class="input-form">
                <h6>Email Address</h6>
                <input type="email" class="form-control" placeholder="@email@gmail.com">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <div class="input-form">
                <h6>First Name</h6>
                <input type="text" class="form-control" placeholder="First Name">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6"></div>
          </div>
  
        </div>
  
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
    </div>
  </div>