
  
<div class="card p-2 mb-3">
    <form  [formGroup]="allItems" (ngSubmit)="addItems()">
        <div class="row col-sm-6 col-md-6 text-center">
            <div class="col-md-8 col-sm-12 col-lg-8 mb-3">
                <input type="text" class="form-control" formControlName="name" placeholder="Item Name">
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 mb-3">
                <input type="text" class="form-control" formControlName="amount" placeholder="Amount">
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 mb-3">
                <input type="text" class="form-control" formControlName="chef" placeholder="Cheff">
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 mb-3">
                <select class="form-select" formControlName="foodType">
                    <option value="" selected disabled>Food Type</option>
                    <option value="veg">Veg</option>
                    <option value="chicekn">Chicken</option>
                    <option value="mutton">Mutton</option>
                    <option value="beef">Beef</option>
                  </select>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 mb-3">
                <select class="form-select" formControlName="category">
                    <option value="" selected disabled >Category</option>
                    <option value="cofee">Coffee</option>
                    <option value="Sandwiches">Sandwiches</option>
                    <option value="Tea">Tea</option>
                  </select>
            </div>
           
            <div class="col-md-6 col-sm-12 col-lg-6 mb-3">
                <input class="form-control" type="file" id="formFile">
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6 mb-3">
                <select class="form-select" formControlName="cheff">
                    <option value="" selected disabled>Cheff</option>
                    <option value="jhon">Jhon</option>
                    <option value="harry">Harry</option>
                    <option value="willion">Wiliom</option>
                  </select>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                <textarea name="" formControlName="details" placeholder="eg: Don't make it too spicy" class="form-control" id=""></textarea>
            </div>
            <button type="submit" class="btn bg-app-primary text-white m-3">Submit</button>
        </div>
    </form>
</div>
