<div class="p-2 mb-3">
    <form [formGroup]="allItems" (ngSubmit)="addItems()">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h6>Category</h6>

                <div class="card-wrap bg-white">
                    <div class="card-body p-2">

                        <div class="h7 m-0 d-flex">Product Type <strong class="text-red1 ms-1">*</strong> </div>

                        <div class="col-12">
                            <!-- <p class="pe-2 ps-2 m-0" (click)="categoryPop('foodtype','Add Food Type')"><i
                                    class="fa fa-plus" aria-hidden="true"></i></p> -->
                            <!-- <ng-select [items]="foodTypes" bindLabel="name" [virtualScroll]="true" appendTo="body"
                                placeholder="Food Type" formControlName="foodType">
                            </ng-select> -->
                            <ng-select [items]="foodTypes" bindLabel="name" bindValue="name" [addTag]="addfoodTypes"
                            [multiple]="false" placeholder="Select Foodtype  or add Foodtypes"
                            formControlName="foodType">
                            </ng-select>

                            <div class="h8 p-0 m-0 text-red1" *ngIf="allItems.get('foodType')?.invalid && allItems.get('foodType')?.touched">Food Type is required</div>

                        </div>

                        <div class="h7 m-0 mt-3 d-flex">Product Category <strong class="text-red1 ms-1">*</strong>
                        </div>

                        <div class="col-12">
                            <!-- <p class="pe-2 ps-2 m-0" (click)="categoryPop('foodCategory','Add Food Category')"><i
                                    class="fa fa-plus" aria-hidden="true"></i></p> -->
                            <!-- <ng-select [items]="foodCategorys" bindLabel="name" [virtualScroll]="true" appendTo="body"
                                placeholder="Food Category" formControlName="foodCategory">
                            </ng-select> -->

                            <ng-select [items]="foodCategorys" bindLabel="name" bindValue="name" [addTag]="addFoodcategory.bind(this)" 
                            [multiple]="false" placeholder="Food Category"
                            formControlName="foodCategory">
                            <div class="h8 p-0 m-0 text-red1" *ngIf="allItems.get('foodCategorys')?.invalid && allItems.get('foodCategorys')?.touched">Food Categorys is required</div>

                        </ng-select>

                        </div>


                        <div class="row mt-3 mb-3">
                            <div class="col-md-6 col-sm12">
                                <div class="h7 m-0 d-flex">Amount <strong class="text-red1 ms-1">*</strong> </div>
                                <input type="number" class="form-control" formControlName="amount" placeholder="Amount">
                                <div class="h8 p-0 m-0 text-red1" *ngIf="allItems.get('amount')?.invalid && allItems.get('amount')?.touched">Amount is required</div>

                            </div>
                            <div class="col-md-6 col-sm12">
                                <div class="h7 m-0 d-flex">Veg - NonVeg <strong class="text-red1 ms-1">*</strong>
                                </div>

                                <div class="d-flex align-items-center pt-2 " >
                                    <input type="radio" value="veg" id="veg" formControlName="vegnonveg">
                                    <label for="veg"> <p class="m-0 me-2 ms-2 border-green veg"><span class="p-2 m-1 d-flex rounded-circle bg-green  "></span> </p> </label>
                                <input type="radio" value="nonveg" class="ms-2" id="nonveg" formControlName="vegnonveg">
                                <label for="nonveg"><p class="m-0  border-red1 ms-2 nonveg"> <span class="p-2 m-1 d-flex rounded-circle bg-red1  "></span></p> </label>
                                </div>

                                <!-- <ng-select [items]="foodVegNon" bindLabel="name" [searchable]="false"
                                    [virtualScroll]="true" appendTo="body" placeholder="Veg / Non"
                                    formControlName="foodVegNon">
                                </ng-select> -->
                            </div>
                        </div>

                        <div class="h7 m-0">Food Details</div>
                        <textarea name="" formControlName="details" placeholder="eg: Maked it too spicy"
                            class="form-control" id=""></textarea>

                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-12">
                <h6>Food Details</h6>
                <div class="card-wrap bg-white">
                    <div class="card-body p-2">
                        <div class="h7 m-0">Product Images</div>

                        <input class="form-control" type="file" (change)="onFileSelected($event)" accept="image/*" />

                    </div>
                </div>
                <button type="submit" [disabled]="allItems.invalid" class="btn brand-btn w-100 bg-app-primary text-white mt-3 p-2 "> {{submitUpdatevar}} </button> 
            </div>

        </div>

    </form>
</div>