.food-type {
    position: relative;
    top: auto;
    right: auto;
    width: 12px;
    margin-right: 8px;
    vertical-align: middle;
    min-width: 12px;
    height: 12px;
    display: inline-block;
    &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 1px;
    }
    &.veg {
        color: #219653;
        background: #fff;
        border: 2px solid green;
        &::before {
            background: green;
        }
    }
    &.non-veg {
        color: red;
        background: #fff;
        border: 2px solid red;
        &::before {
            background: red;
        }
    }
}

.scrollbar {
    overflow-y: scroll;
    max-height: 100%;
    margin-right: -12px;
    padding-right: 6px;
    position: relative;
    transition: 0.5s;
    &::-webkit-scrollbar {
        width: 0;
        opacity: 0 !important;
        position: absolute;
        right: 12px;
        transition: 0.5s;
    }
    &:hover::-webkit-scrollbar {
        transition: 0.5s;
        width: 4px;
        opacity: 1 !important;
        position: absolute;
        right: 12px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        position: absolute;
        right: 12px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #e6e9f4;
        position: absolute;
        right: 12px;
    }
}
