<footer class="footer mt-auto py-3 bg-white text-center">
    <div class="container"> <span class="text-muted"> Copyright © <span id="year">2024</span> <a
                routerLink="/dashboard" class="text-dark fw-medium"> Prodflow</a>. Designed with
              
                <span>   <i class="fa fa-solid fa-heart text-danger"></i> </span> by <a href="javascript:void(0);"> <span
                    class="fw-medium text-primary">Wynd</span> </a> All rights reserved </span> </div>
</footer>