@import '../../../assets/scss/utilities/variables';
.header-sticky{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}
.sidebar {
    width: 240px;
    height: 100vh;
    transition: 0.5s;
    &.side-nav-close {
        width: 78px;
        transition: 0.5s;
        .side-menu {
            .item {
                span {
                    display: block;
                }
            }
        }
    }

    .logo {
        img {
            display: block;
        }
    }
    .side-menu {
        .active {
            background-color: var(--light-fade-bg);
            border-radius: 28px;
        }
        img {
            width: 50px;
        }
        .sub-name {
            display: block;
        }
        .item {
            cursor: pointer;
            text-decoration: none;
        }
    }
}
.sidebar-content {
    transition: 0.5s;
    &.sidebar-open {
        margin-left: 240px;
    }
    &.side-nav-close {
        margin-left: 78px;
    }
}

@media (max-width: 767.98px) {
    .sidebar {
        width: 78px;
        transition: 0.5s;
        .side-menu {
            padding-top: 13px;
            .item {
                display: flex;
                justify-content: center;
                span {
                    display: none;
                }
            }
            .sub-name {
                display: none;
            }
        }
        .logo {
            img {
                display: none;
            }
            p {
                display: block;
            }
        }
    }
    .sidebar-content {
        margin-left: 78px !important;
        transition: 0.5s;
    }
}
