<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Food Type</th>
          <th>Category</th>
          <th>Price</th>
          <th>veg/non</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allProducts; index as i">
          <th>{{i+1}}</th>
          <td>{{item.foodType}}</td>
          <td>{{item.foodCategory}}</td>
          <td>{{item.amount}}</td>
          <td>
            <div *ngIf="item.vegnonveg === 'nonveg'">
              <span class="badge rounded-pill bg-danger">Non-Veg</span>
            </div>
            <div *ngIf="item.vegnonveg === 'veg'"><span class="badge rounded-pill bg-success">Veg</span></div>
          </td>
          <td><span class="btn badge rounded-pill bg-warning" (click)="edit(item.id)">Edit</span></td>
        </tr>
      </tbody>
    </table>
    
    <div class="d-flex align-items-center justify-content-center h-100" *ngIf="allProducts.length <= 0">
      <img class="img-fluid no-data" alt="no data" src="assets/images/nodata.avif" alt="">
    </div>
  </div>
</div>